.animal{
    width: 250px;
    margin-left:0px ;
    margin-bottom:60px ;
}
.box{
    display: flexbox;
    width: 1200px;
    margin-left: 200px;
}
body{
    min-height: 1100px;
}
.box .button{
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: 0px;
    background-color: #f6714c;
    color: white;
    margin-right: 20px;
    margin-bottom: 30px;
    position: relative;
    left: -180px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    transition:0.3s;
}
.button:hover{
    color: #f6714c;
    border: 2px solid #f6714c;
    background-color: white;
}